@model HTTP5212_HospitalProject_Team1.Models.RoomDto
@{
    ViewBag.Title = "Edit";
}

<div class="back-list">
    <a href="/Room/List">Go Back To Room List</a>
    <p> / </p>
    <a href="/Room/Details/@Model.RoomId">Go Back To Details</a>
</div>
<h2 class="create-title">Update Room For @Model.RoomNumber</h2>
<div class="form-wrapper">
    <form class="form-floating mb-3" action="/Room/Update/@Model.RoomId" method="POST">
        <div class="input-wrapper">
            <div style="display:none;">
                @* Pass through the Room ID *@
                <input class="form-control" id="floatingInput" type="text" name="RoomId" value="@Model.RoomId" />
            </div>
            <div>
                <label for="floatingInput">Room Number:</label> <input class="form-control" id="floatingInput" type="text" name="RoomNumber" value="@Model.RoomNumber" />
            </div>
            <div>
                <label for="floatingInput">Room Type:</label> <input class="form-control" id="floatingInput" type="text" name="RoomType" value="@Model.RoomType" />
            </div>
            <div>
                <!--<label for="floatingInput">Availability:</label>
                    <input class="form-control" id="floatingInput" type="checkbox" name="Availability" value="y" />-->
                    <label for="floatingInput">Availability:</label>
                    <input type="checkbox" name="Availability" value="true"
                           @(Model.Availability ? "checked" : "") />
                </div>
                </div>
                <div>
                    <label for="floatingInput">Patient:</label> <input class="form-control" id="floatingInput" type="text" name="PatientID" value="@Model.PatientID" />
                </div>
                <div>
                    <input class="btn btn-primary add-button" type="submit" value="Update Room" />
                </div>
            </div>
        </form>
    </div>
