@model HTTP5212_HospitalProject_Team1.Models.ShiftDto
@{
    ViewBag.Title = "Details";
}

<a href="/Shift/List">Back to list</a>

<h2>Name: @Model.EmployeeFirstName @Model.EmployeeLastName</h2>
<h3>Shift time: @Model.ShiftTime</h3>
<div>Sunday: @Model.ShiftSun</div>
<div>Monday: @Model.ShiftMon</div>
<div>Tuesday: @Model.ShiftTues</div>
<div>Wednesday: @Model.ShiftWed</div>
<div>Thursday: @Model.ShiftThurs</div>
<div>Friday: @Model.ShiftFri</div>
<div>Saturday: @Model.ShiftSat</div>
