@model HTTP5212_HospitalProject_Team1.Models.AppointmentDto
@{
    ViewBag.Title = "Details";
}


<div style="padding:20px 0;">
    <a href="/Appointment/List">Go back to list</a><a style="color:#ab2020; margin-left:10px;" href="/Appointment/Edit/@Model.AppointmentId">Update</a> <a style="color:#ab2020; margin-left:10px;" href="/Appointment/DeleteConfirm/@Model.AppointmentId">Delete</a>
</div>

<h2>Patient Name: @Model.FirstName @Model.LastName</h2>
<p>ID: @Model.AppointmentId</p>
<p>Appointment Type: @Model.TypeOfAppointment</p>
<p>Appointment Time: @Model.AppointmentTime</p>
<p>Employee Name: @Model.EmployeeFirstName @Model.EmployeeLastName</p>
